<section id="aside-icons">
  <span class="fa-stack fa-lg">
    <a href="mailto:benjlindsay@gmail.com">
      <i class="fa fa-envelope-square fa-stack-2x"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href="https://github.com/benlindsay">
      <i class="fa fa-github-square fa-stack-2x"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href="https://www.linkedin.com/in/benjamin-lindsay-b1012028">
      <i class="fa fa-linkedin-square fa-stack-2x"></i>
    </a>
  </span>
</section>
